
.sidebar > .built_in_functions,
.assignments > .arithmetic_operations
{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-direction: column;
}

.sidebar > .built_in_functions > li,
.assignments > .arithmetic_operations > li{
    width:100%;
    margin: 1%;
}

.sidebar > .built_in_functions > li button{
    width: 90%;
    padding: 6px;
    color: white;
    background: black;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 34px rgb(61, 60, 60);
    font-weight:bolder;
}



