.other_values_container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}


.other_values_container > *{
    width:33.3%;
}

.other_values_container > * > button{
    width: 90%;
    padding: 6px;
    background: white;
    color: black;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 34px rgb(61, 60, 60);
    font-weight:bolder
}
