.basics_operations_content{
    position: relative;
    display: flex;
}

.basics_operations_content > * {
    min-height: 100px;
}

.basics_operations_content .sidebar{
    flex-grow: 1;
    background: lawngreen;
}

.basics_operations_content .values{
    flex-grow: 3;
    background: rgb(12, 207, 181);
}

.basics_operations_content .assignments{
    flex-grow: 1;
    background: rgb(165, 94, 156);
}


.switcher_on_off{
    position: absolute;
    bottom: 0px;
  }

.switcher_on_off button{
    margin: 0 auto;
    width: 90%;
    padding:30px 18px ;
    color: white;
    background: black;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 34px rgb(61, 60, 60);
    font-weight:bolder
  }