.basics_operations_content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0
}

.basics_operations_content .sidebar{
    /* flex-grow: 2; */
    width: 20%;
    background: rgba(17, 29, 6, 0.363);
    border-bottom-left-radius: 33px ;

}

.basics_operations_content .values{
    /* flex-grow: 3; */
    width: 60%;
    background: rgb(17, 20, 20);
}

.basics_operations_content .assignments{
    /* flex-grow: 5; */
    width: 20%;
    background: rgb(19, 18, 19);
    border-bottom-right-radius: 33px ;
}
