
.container > .header{
    display: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    /* max-width: 320px; */
    height: 275px;
    background: rgb(223, 222, 222);
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
  }
  

  .container .header > section:nth-child(1) {
    width: 100%;
    min-height: 50px;
  }
  
  .container .header > section:nth-child(1) h1{
    font-size: 20px;
    color: gray;
    font-weight: 900;
  }
  
  .container .header > section:nth-child(1) h2{
    font-size: 15px;
    font-weight: 800;
  }
  
  .container .header > section:nth-child(1) .playground{
    background: rgb(47, 65, 47);
    width: 95%;
    margin: 0 auto;
    height: 120px;
    overflow: scroll;
  }
  
  .container .header > section:nth-child(2)
  {
    width: 100%;
  }
  
  .container > .header > section:nth-child(2) ul
  {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .container > .header> section:nth-child(2) ul >li {
    width:20%;
  }
  
  .container > .header > section:nth-child(2) ul >li  button
  {
    width:100%;
    border-radius: 8px;
    box-shadow: 0 0 24px gray;
    background: rgb(128, 128, 128);
    color: #fff;
    border: 0;
    padding:4px;
    font-weight: 800;
  }
  
  .container > .header > section:nth-child(2) ul >li  *{
    font-size: 8px;
  }
  
  .container > .header > section:nth-child(2) ul >li  strong {
    color: blue;
  }
  
  