.numerical_values_container button{
    width: 90%;
    padding: 6px;
    background: white;
    color: black;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 34px rgb(61, 60, 60);
    font-weight:bolder
}

.numerical_values_container{
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.numerical_values_container > li{
    width:33.3%
}


/* .numerical_values_container> li  */
