@import "./functions/Functions.css";
@import "./header-1/Header1.css";
@import "./advanced-operations/AdvancedOperations.css";
@import "./basics-operations/content.css";

ul{
 list-style: none;
}

button{
  border: none;
  cursor: pointer;
}

.container{
  display: block;
  padding: 24px;
  min-height:300px;
  min-width: 300px;
  max-width: 400px;
  border-radius: 55px;
  margin: 0 auto;
  background-color:rgb(185, 185, 185);
  background: rgb(0, 0, 0);
  text-align: center;
}

.container > * > * > *{
  padding: 16px 0
}
