ul{
 list-style: none;
}
.container{
  padding: 0;
  margin: 0;
  min-height:300px;
  max-width: 400px;
  min-height: 600px;
  background-color:rgb(185, 185, 185);
  background: rgb(0, 0, 0);
  text-align: center;

}

.container > .header{

  display: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 400px;
  background: rgb(223, 222, 222);

}

.container .header > section:nth-child(1) {
  width: 100%;
  min-height: 200px;
}

.container .header > section:nth-child(1) h1{
  font-size: 22px;
  color: gray;
  font-weight: 900;
}

.container .header > section:nth-child(1) h2{
  font-size: 16px;
  font-weight: 800;
}

.container .header > section:nth-child(1) .playground{
  background: rgb(47, 65, 47);
  width: 95%;
  margin: 0 auto;
  min-height: 200px;
}

.container .header > section:nth-child(2)
{
  /* background: green; */
  width: 100%;
}

.container > .header > section:nth-child(2) ul
{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container > .header> section:nth-child(2) ul >li {
  width:18%;
}

.container > .header > section:nth-child(2) ul >li  button
{
  width:100%;
  border-radius: 8px;
  box-shadow: 0 0 24px gray;
  background: rgb(128, 128, 128);
  color: #fff;
  border: 0;
  padding:4px;
  font-weight: 800;
}


.container > .header > section:nth-child(2) ul >li  *{
  font-size: 10px;
}

.container > .header > section:nth-child(2) ul >li  strong {
  color: blue;
}

